WEB_PORT=3000
API_GATEWAY_PORT=3001
PHOTO_SERVICE_GRPC_PORT=50051

POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_SUPERUSER=postgres
POSTGRES_SUPERPASS=postgres

PHOTO_DATABASE_URL=postgres://photo_user:photo_pass@postgres:5432/photo_db
CLUSTER_DATABASE_URL=postgres://cluster_user:cluster_pass@postgres:5432/cluster_db
PUBLICATION_DATABASE_URL=postgres://publication_user:publication_pass@postgres:5432/publication_db
USAGE_DATABASE_URL=postgres://usage_user:usage_pass@postgres:5432/usage_db
CONNECTOR_DATABASE_URL=postgres://connector_user:connector_pass@postgres:5432/connector_db

MINIO_ENDPOINT=http://minio:9000
MINIO_BROWSER_ENDPOINT=http://localhost:9000
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
MINIO_BUCKET=photo-ops-originals

RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672
NEXT_PUBLIC_API_BASE_URL=http://localhost:3001
